@model MyDotnetApp.Models.Product

<h2>Product Details</h2>
<p><b>ID:</b> @Model.Id</p>
<p><b>Name:</b> @Model.Name</p>
<p><b>Price:</b> ₹@Model.Price</p>

<a href="/Products">Back to list</a>
